{
  "extends": ["prettier"],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-var": "warn"
  },
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  }
}
